h1 {
  text-align:center;
  font-size: 80px;
}

h2 {
  text-align:center;
  font-size: 40px;
}

h3 {
  text-align: center;
  font-size: 30px;
  font-family: serif;
}

nav {
	background-color: #74a3d2; 
	font-size: relative; 
  text-align: center;
  padding: 0px; /* Dimensiunile box-ului */
}

nav a {
	line-height: 20px;
  padding: 15px;
  font-family: Arial; 
	height: 20px; /* In functie de display, auto */
	font-size: 15px;
	display: inline-block;
	position: relative;
	text-decoration: none; /* Fara sublinieri si jeguri  */
	text-transform: uppercase;/* Il face cu litere mari */
	text-align: center; /* Centreaza textul */
	color: white;
}

nav a:hover {
  background-color: #3c2f2f;
}

a:active {
  background-color: yellow;
}
  

